@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@font-face {
    font-family: 'matrix';
    src: url('./assets/fonts/matrix.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mechanical {
    font-family: 'Orbitron', sans-serif;
}

